/*!
 * WordStrap Child Theme | ws.child-theme.less
 * Use this file to add custom styles to this particular website's child theme.
 */

@brown: 		#664D2C; /*brighter*/
@brownBG03: 	#353027; /*lighter*/
@brownBG04: 	#272013; /*darker*/
@slate: 		#789695; /*brighter*/
@slateBG01:	#93A1A1; /*lightest*/
@slateBG02:	#829396; /*medlight*/
@slateBG03:	#657B83; /*meddark*/
@slateBG04:	#586e75; /*darkest*/
@cremeBG01:	#FCF5E3; /*lighter*/
@cremeBG02:	#EDE7D4; /*light*/

@wrapBorderWidth: 3px;
@wrapBorderColor: @brown;

@discover:	@orange;
@gather:		@red;
@receive:		@purple;
@connect:		@blue;
@grow:		@green;
@reach:		@yellow; /*cyan*/

/* ==========================================================================
   Base
   ========================================================================== */
/*[class*="spanish"] { margin-left:auto; } */ /* this is a fix for the overzealous [class*="span"] css in bootstrap */
body {
	font-weight:400 !important;
}
h2 {
	font-weight:700 !important;
}

/* =============================================================================
   Header
   ========================================================================== */
#banner {
	height:@navbarHeight + 8;
}

/* =============================================================================
   Navbar
   ========================================================================== */

.navbar.navbar-fixed-top.navbar-pos-btm {

	.navbar-inner {
		border-top:4px solid @wrapBorderColor;
		border-bottom:2px solid @wrapBorderColor;
		background-position: center center;
	}

	.brand {
		display:block;
		position:absolute;
		z-index:9999;
	}

	.brand img {
		float:none;
		margin:0 auto;
		display:block;
	}

	.nav-main {

		ul li {
			margin:0 5px;
		}

		ul li a {
			font-weight:500;
			font-size:16px;
			text-transform:uppercase;
			letter-spacing:1px;
			line-height:@baseLineHeight;
			height:@baseLineHeight;
			width: @navbarHeight;
			text-align:center;
			padding:((@navbarHeight - @baseLineHeight) / 2) (@baseLineHeight / 2);
			margin:0;
			position:relative;
			z-index:2;
		}

		.nav > .active > a {
			position:relative;
			background:@slateBG04;
			color:#fff;
			border:none;
			.border-radius(0);
			.box-shadow(0 0 0 transparent);
			z-index:1;
		}

		.nav > .active > a:before {
			content: "";
			top: 0px;
			bottom: 0px;
			position: absolute;
			z-index: 10000;
			width:100%;
		}
		.nav > .active > a:after {
			content: "";
			top: 0px;
			bottom: 0px;
			position: absolute;
			z-index: 10000;
			width:100%;
		}

		.prime-nav.alignleft {
			position:relative;
			left:-20px;
		}

		.prime-nav.alignright {
			position:relative;
			right:-20px;
		}

		.prime-nav.alignleft .nav > .active > a:before {
			right: (@baseLineHeight + @navbarHeight);
			border-left: 5px solid transparent;
			border-right: 5px solid @slateBG04;
			border-bottom: @navbarHeight solid transparent;
			border-top: 0px solid transparent;
		}
		.prime-nav.alignleft .nav > .active > a:after {
			left: (@baseLineHeight + @navbarHeight);
			border-left: 5px solid @slateBG04;
			border-right: 5px solid transparent;
			border-bottom: 0px solid transparent;
			border-top: @navbarHeight solid transparent;
		}
		.prime-nav.alignright .nav > .active > a:before {
			left: (@baseLineHeight+ @navbarHeight);
			border-left: 5px solid @slateBG04;
			border-right: 5px solid transparent;
			border-bottom: @navbarHeight solid transparent;
			border-top: 0px solid transparent;
		}
		.prime-nav.alignright .nav > .active > a:after {
			right: (@baseLineHeight + @navbarHeight);
			border-left: 5px solid transparent;
			border-right: 5px solid @slateBG04;
			border-bottom: 0px solid transparent;
			border-top: @navbarHeight solid transparent;
		}

		li.menu-discover > a { color:darken(@discover, 5%); }
		li.menu-gather > a { color:darken(@gather, 5%); }
		li.menu-receive > a { color:darken(@receive, 5%); }
		li.menu-connect > a { color:darken(@connect, 5%); }
		li.menu-grow > a { color:darken(@grow, 5%); }
		li.menu-reach > a { color:darken(@reach, 5%); }

		li.menu-discover.active > a { background:darken(@discover, 5%); }
		li.menu-gather.active > a { background:darken(@gather, 5%); }
		li.menu-receive.active > a { background:darken(@receive, 5%); }
		li.menu-connect.active > a { background:darken(@connect, 5%); }
		li.menu-grow.active > a { background:darken(@grow, 5%); }
		li.menu-reach.active > a { background:darken(@reach, 5%); }

	} /* END .nav-main */

	.nav-sec {

		position:relative;

		li > a {
			display:block;
			width:50px;
			height:40px;
			text-align:center;
			padding:0;
			margin:10px auto;
			font-size:13px;
		}

		li > a i {
			background:transparent;
			.border-radius(23px);
			position:relative;
			margin:auto;
			padding:6px;
			width:34px;
			height:34px;
			display:block;

			text-align:center;
		}
		li > a:hover i {
			text-decoration:none;
			background:#fff;
			border:2px solid @iconFontColor;
			padding:4px;
			.box-shadow(~"inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 2px 0px rgba(0,0,0,.25)");
		}

		li > a i:before {
			font-family:'SSPika' !important;
			font-size:22px;
			line-height:22px;
			padding:5px;
			margin:0;
			color:#FFF;
			vertical-align:middle;
			position:relative;
			top:9px;
		}
		li > a:hover i:before {
			color:@iconFontColor;
		}
		li > a > span {
			display:none;
		}
		.menu-topics a i:before {
			content: "\1F4C1";
		}
		.menu-experts a i:before {
			content: "\1F464";
		}
		.menu-sources a i:before {
			content: "\2691";
		}
		.menu-articles a i:before {
			content: "\E903";
		}
		.menu-books a i:before {
			content: "\1F4DA";
		}
		.menu-videos a i:before {
			content: "\1F4F9";
		}
		.menu-podcasts a i:before {
			content: "\1F4FB";
		}
		.menu-submissions a i:before {
			content: "\EB40";
		}
		.menu-about a i:before {
			content: "\2139";
		}
		.menu-contact a i:before {
			content: "\1F4AC";
		}
		.menu-facebook a i:before {
			font-family:'SSSocial' !important;
			content: "\F610";
		}
		.menu-twitter a i:before {
			font-family:'SSSocial' !important;
			content: "\F611";
		}

	} /* END .nav-sec */

} /* END .navbar.navbar-fixed-top.navbar-pos-top */

.navbar.navbar-fixed-top.navbar-pos-btm.affix-top {

	.brand {
		top: 5px;
		left:50%;
		margin-left:-140px;
		width:280px;
		height:80px;
	}

	.brand img.brand-logo.brand-logo-full {
		width:280px;
		height:auto;
		float:none;
		padding:0;
		margin:0;
	}

	.brand img.brand-logo.brand-logo-mark {
		display:none;
	}

} /* END 	.navbar.navbar-fixed-top.navbar-pos-top.affix */

.navbar.navbar-fixed-top.navbar-pos-btm.affix {

	.navbar-inner {
		min-height:(@navbarHeight / 2) + 5;
		height:(@navbarHeight / 2) + 5;
	}

	.brand {
		top:50%;
		left:50%;
		margin:-17px 0 0 -20px;
		width:40px;
		height:35px;
	}

	.brand img.brand-logo.brand-logo-full {
		display:none;
	}

	.brand img.brand-logo.brand-logo-mark {
		width:40px;
		height:auto;
		float:none;
		padding:0;
		margin:0;
	}

	.nav-main {

		ul li a {
			padding:( ( ( (@navbarHeight / 2) + 5) - @baseLineHeight) / 2) (@baseLineHeight / 2);
		}

		.prime-nav.alignleft .nav > .active > a:before,
		.prime-nav.alignright .nav > .active > a:before {
			border-bottom: ((@navbarHeight / 2) + 5) solid transparent;
		}

		.prime-nav.alignleft .nav > .active > a:after,
		.prime-nav.alignright .nav > .active > a:after {
			border-top: ((@navbarHeight / 2) + 5) solid transparent;
		}

	} /* END .nav-main */

} /* END 	.navbar.navbar-fixed-top.navbar-pos-top.affix */

.tooltip {
	font-size: 14px;
	&.in     { .opacity(100); }
}


/* =============================================================================
   Feature
   ========================================================================== */

.feature {

border-bottom:@wrapBorderWidth solid @wrapBorderColor;
position:relative;

}

.feature-link .breadcrumbs {
font-family:@baseFontFamily;
font-size:@baseFontSize + 2;
}

/* ==========================================================================
   Content
   ========================================================================== */

.lead {
font-size:24px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */


/* ==========================================================================
   Sidebar
   ========================================================================== */

.endvr_news {
	list-style:none;
	margin-left:0;
}

.endvr_contact_connect_postal_address {
	display:block;
	margin-left:20px;
}

#endvr-widget-missionary-details-contact .widget-inner div {
	margin-bottom:15px;
}


/* ==========================================================================
   Posts
   ========================================================================== */

.wpcf7-form-control-wrap .wpcf7-textarea {
width:96%;
}

.main .row-fluid [class*="span"] {
	margin-left:1%;
}

.pt-icon {
	display:block;
	width:100%;
	height:auto;
	text-align:center;
	padding:0;
	margin:5px auto;
	font-size:40px;
}
.pt-icon i {
	background:@iconFontColor;
	.border-radius(30px);
	position:relative;
	margin:auto;
	width:52px;
	height:52px;
	display:block;
	text-align:center;
	.box-shadow(~"inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 5px 2px rgba(0,0,0,.15)");
	border:2px solid #fff;
	padding:4px;
}
.pt-icon i:before {
	font-family:'SSPika' !important;
	font-size:30px;
	line-height:30px;
	padding:11px;
	margin:0;
	color:#FFF;
	vertical-align:middle;
	position:relative;
	top:14px;
}
.pt-icon.articles i:before {
	content: "\E903";
}
.pt-icon.books i:before {
	content: "\1F4DA";
}
.pt-icon.videos i:before {
	content: "\1F4F9";
}
.pt-icon.podcasts i:before {
	content: "\1F4FB";
}
.pt-label {
	text-align:center;
	background:#999;
	color:#fff;
	position:relative;
	top:-20px;
	left:5px;
	display:block;
	width:80%;
	margin:0 auto;
	.box-shadow(~"inset 0 2px 0 0 rgba(255,255,255,.25), 0 0 5px 2px rgba(0,0,0,.15)");
	border:2px solid #fff;
	padding:4px;
}
.archive .media {
	width:auto;
	display:block;
	border:2px solid #fff;
	padding:2%;
	background:#fff;
}
.archive .media.book, .archive .media.article, .archive .media.podcast {
	.box-shadow(none);
	border:none;
	padding:2% 25%;
	background:transparent;
}
.archive .media img {
	border:1px solid #ccc;
	margin:0;
	padding:4px;
	background:#fff;
	.box-shadow(~"0 0 5px 2px rgba(0,0,0,.15)");
}
.archive .media.video {
	width:auto;
	border:1px solid #ccc;
	margin:1% 5%;
	padding:4px;
	background:#fff;
	.box-shadow(~"0 0 5px 2px rgba(0,0,0,.15)");
}
.archive .media.video .resp-video-wrapper {
	margin:0;
}
.archive .entry-meta {
  min-height: 20px;
  padding: 9px;
  margin-bottom: 20px;
}

/* ==========================================================================
   Grids
   ========================================================================== */


/* ==========================================================================
   Widgets
   ========================================================================== */

/* CONNECTIONS */

.endvr_social, .endvr_contact { clear:both; line-height:24px; padding:5px 0; }

.endvr_social span { text-transform:lowercase; font-style:italic; margin-left:5px; }
.endvr_social span:before {content: '( ';}
.endvr_social span:after {content: ' )';}

.endvr_social i { background-image:url(../img/social_media_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 0; }
.endvr_social.connect_amazon i { background-position:0 0; }
.endvr_social.connect_delicious i { background-position:0 -24px; }
.endvr_social.connect_deviantart i { background-position:0 -48px; }
.endvr_social.connect_digg i { background-position:0 -72px; }
.endvr_social.connect_dribbble i { background-position:0 -96px; }
.endvr_social.connect_ebay i { background-position:0 -120px; }
.endvr_social.connect_email i { background-position:0 -144px; }
.endvr_social.connect_facebook i { background-position:0 -168px; }
.endvr_social.connect_feedburner i { background-position:0 -192px; }
.endvr_social.connect_flickr i { background-position:0 -216px; }
.endvr_social.connect_forrst i { background-position:0 -240px; }
.endvr_social.connect_foursquare i { background-position:0 -264px; }
.endvr_social.connect_github i { background-position:0 -288px; }
.endvr_social.connect_google i { background-position:0 -312px; }
.endvr_social.connect_instagram i { background-position:0 -336px; }
.endvr_social.connect_linkedin i { background-position:0 -360px; }
.endvr_social.connect_myspace i { background-position:0 -384px; }
.endvr_social.connect_paypal i { background-position:0 -408px; }
.endvr_social.connect_picassa i { background-position:0 -432px; }
.endvr_social.connect_reddit i { background-position:0 -456px; }
.endvr_social.connect_feed i { background-position:0 -480px; }
.endvr_social.connect_scribd i { background-position:0 -504px; }
.endvr_social.connect_squidoo i { background-position:0 -528px; }
.endvr_social.connect_technorati i { background-position:0 -552px; }
.endvr_social.connect_tumblr i { background-position:0 -576px; }
.endvr_social.connect_twitter i { background-position:0 -600px; }
.endvr_social.connect_vimeo i { background-position:0 -624px; }
.endvr_social.connect_xbox i { background-position:0 -648px; }
.endvr_social.connect_yahoo i { background-position:0 -672px; }
.endvr_social.connect_youtube i { background-position:0 -696px; }

.endvr_contact i { background-image:url(../img/meta_icons.png); display:block; float:left; width:24px; height:24px; margin:0 10px 0 -35px; }
.endvr_contact.connect_phone i { background-position:0 0; }
.endvr_contact.connect_fax i { background-position:0 -24px; }
.endvr_contact.connect_postal i { background-position:0 -48px; }
.endvr_contact.connect_email i { background-position:0 -72px; }
.endvr_contact.connect_contact_form i { background-position:0 -96px; }

.endvr_contact { padding-left:35px; }

#endvr-widget-missionary-details-contact .endvr_contact i, #endvr-widget-missionary-news i {
	background-image:none;
	font-size:20px;
}

body.directions-map .widget_endvr_gmap, body[class*="sermon"] .widget_endvr_gmap, body.home .widget_endvr_gmap {
	padding-top:10px;
	.gmap { display:none; }
}

body.contact .widget_endvr_contact_info .connect_contact_form { display:none; }

/* ==========================================================================
   Footer
   ========================================================================== */
.superfooter { border-top:@wrapBorderWidth solid @wrapBorderColor; }

.colophon {
/*
	.box-shadow(~"inset 0 0 5px 3px rgba(0,0,0,.45)");
	border-top:@wrapBorderWidth solid @wrapBorderColor;
	border-bottom:@wrapBorderWidth solid @wrapBorderColor;
*/
}

.superfooter section { overflow:hidden; }

.superfooter .btn, .superfooter .btn:hover, .superfooter .btn i:before {
color:#fff;
border:none;
}

/* ==========================================================================
   Icons
   ========================================================================== */


/* ==========================================================================
   Media
   ========================================================================== */


/* ==========================================================================
   Staff
   ========================================================================== */

.endvr-widget-staff-details {
	ul, li { list-style:none; margin-left:0; }
	li { line-height:36px; }
}

/* ==========================================================================
   Missionaries
   ========================================================================== */

.sidebar section.endvr-widget-missionary-photo {
margin-top:40px;
}

/* ==========================================================================
   Ministries
   ========================================================================== */
.sidebar section.endvr-widget-ministry-events {
margin-top:20px;
}

/* ==========================================================================
   Sundays
   ========================================================================== */

.sidebar section.endvr-widget-sunday-events {
margin-top:30px;
	.well.well-small { padding-left:15px; padding-right:15px; }
	a.well.well-small:hover { padding-left:14px; padding-right:14px; }
	h3 { margin-top:0; }
	h5 {	margin-bottom:0; }
}

/* ==========================================================================
   Home Page
   ========================================================================== */

body.home {

	.feature {
		height:300px;
	}

	.endvr-home-worship-block {
	padding-top:20px;
	}

	.endvr-home-sermon-block {
	padding-bottom:30px;
	}

	.span4 .media-frame {
	  min-height: 20px;
	  background-color: @wellBackground;
	  border: 1px solid darken(@wellBackground, 7%);
	  .border-radius(@baseBorderRadius);
	  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
	  width:94%;
	  padding:2.75%;
	  height:auto;

	  .resp-video-wrapper { margin-bottom:0; }
	}

	.sdr.header {
	width:94%;
	height:18%;
	padding:3%;
	}

	.sdr.content {
	width:94%;
	height:35%;
	padding:3% 3% 2%;
	}

	.sdi {
	width:auto;
	padding:0;
	margin: 2px 6px auto 0;
	height:50%;
	font-size:25px;

		i:before {

		}
	}

	.sdt {
	width:auto;
	height:100%;

		h3,h4 {
		padding:0;
		margin:0;
		height:50%;
		line-height:normal;
		}
	}

	.sdr.footer {
	width:100%;
	height:12%;
	padding:10% 0 0;

		a {
		width:80%;
		padding-left:10%;
		padding-right:10%;
		}
	}
}

/* ==========================================================================
   Beta Landing Page
   ========================================================================== */

body.page-template-page-betalp-php {

color:@brownBG03;

.nav-main,
.nav-sec {
	display:none;
}

.mobile-navbar {
	display:none;
}

	.feature {
		height:100px;
		margin:40px auto 0;
		position:relative;
		background: darken(@connect,10%);
		z-index:2;
		border:none;
	}
	.feature:before {
		position:absolute;
		top:-20px;
		left:0;
		content:"";
		width:0;
		height:0;
		border-left:2400px solid @connect;
		border-top:20px solid transparent;
		border-right:20px solid transparent;
		border-bottom:0px solid transparent;
	}
	.feature:after {
		position:absolute;
		bottom:-20px;
		right:0;
		content:"";
		width:0;
		height:0;
		border-right:2400px solid @connect;
		border-bottom:20px solid transparent;
		border-left:20px solid transparent;
		border-top:0px solid transparent;
	}

	.feature h1,
	.feature h2 {
		text-align:center;
		color:#fff;
	}

	.feature h1 {
		font-size:34px;
		line-height:34px;
	}
	.feature h2 {
		font-size:24px;
		line-height:34px;
	}

	.content {
		top:-200px;
		position:relative;
		z-index:1;
		overflow:hidden;
		padding-bottom:280px;
		margin-bottom:-200px;
	}

	.content .betalp {
		position:relative;
		top:240px;
	}

	.content .betalp h3 {
		max-width:600px;
		margin:20px auto;
		padding:0 30px;
		color:@brownBG03;
	}

	.content .betalp p {
		font-size: 18px;
		line-height: 28px;
		max-width:600px;
		margin:10px auto;
		text-align:justify;
		color:@brownBG03;
		padding:0 30px;
	}

	.content .betalp hr {
		max-width:640px;
		margin:20px auto;
		border-color:@connect;
	}

	.content .betalp-mailchimp {
		max-width:600px;
		margin:30px auto;
		padding:0 30px;

		input {
			width:97%;
		}

		input[type="submit"] {
			width:50%;
			margin:20px auto;
			text-transform:uppercase;
			display:block;
		}

		.asterisk {
			color:@discover;
		}

		.indicates-required {
			text-align:right;
		}

	}

	.betalp-contact {
		background:#fff;
		padding: 40px 30px 50px;
		border-top:2px solid @connect;
	}

	.colophon {
		position:relative;
		background: @brownBG04;
		z-index:2;
		margin-bottom:40px;
	}
	.colophon:before {
		position:absolute;
		top:-20px;
		left:0;
		content:"";
		width:0;
		height:0;
		border-left:2400px solid @brownBG03;
		border-top:20px solid transparent;
		border-right:20px solid transparent;
		border-bottom:0px solid transparent;
	}
	.colophon:after {
		position:absolute;
		bottom:-20px;
		right:0;
		content:"";
		width:0;
		height:0;
		border-right:2400px solid @brownBG03;
		border-bottom:20px solid transparent;
		border-left:20px solid transparent;
		border-top:0px solid transparent;
	}

}

/* ==========================================================================
   DISCOVER SECTION
   ========================================================================== */

body.discover {

	background-color: @discover;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @discover;
			border-bottom:2px solid @discover;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignleft .nav > li.menu-discover.active > a:before {
				border-right-color:@discover;
			}
			.prime-nav.alignleft .nav > li.menu-discover.active > a:after {
				border-left-color:@discover;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@discover;
	}/* END .feature */

}

/* ==========================================================================
   GATHER SECTION
   ========================================================================== */

body.gather {

	background-color: @gather;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @gather;
			border-bottom:2px solid @gather;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignleft .nav > li.menu-gather.active > a:before {
				border-right-color:@gather;
			}
			.prime-nav.alignleft .nav > li.menu-gather.active > a:after {
				border-left-color:@gather;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@gather;
	}/* END .feature */

}

/* ==========================================================================
   RECEIVE SECTION
   ========================================================================== */

body.receive {

	background-color: @receive;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @receive;
			border-bottom:2px solid @receive;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignleft .nav > li.menu-receive.active > a:before {
				border-right-color:@receive;
			}
			.prime-nav.alignleft .nav > li.menu-receive.active > a:after {
				border-left-color:@receive;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@receive;
	}/* END .feature */

}

/* ==========================================================================
   CONNECT SECTION
   ========================================================================== */

body.connect {

	background-color: @connect;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @connect;
			border-bottom:2px solid @connect;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignright .nav > li.menu-connect.active > a:after {
				border-right-color:@connect;
			}
			.prime-nav.alignright .nav > li.menu-connect.active > a:before {
				border-left-color:@connect;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@connect;
	}/* END .feature */

}

/* ==========================================================================
   GROW SECTION
   ========================================================================== */

body.grow {

	background-color: @grow;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @grow;
			border-bottom:2px solid @grow;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignright .nav > li.menu-grow.active > a:after {
				border-right-color:@grow;
			}
			.prime-nav.alignright .nav > li.menu-grow.active > a:before {
				border-left-color:@grow;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@grow;
	}/* END .feature */

}

/* ==========================================================================
   REACH SECTION
   ========================================================================== */

body.reach {

	background-color: @reach;

	.navbar.navbar-fixed-top.navbar-pos-btm {

		.navbar-inner {
			border-top:4px solid @reach;
			border-bottom:2px solid @reach;
		}/* END .navbar-inner */

		.nav-main {

			.prime-nav.alignright .nav > li.menu-reach.active > a:after {
				border-right-color:@reach;
			}
			.prime-nav.alignright .nav > li.menu-reach.active > a:before {
				border-left-color:@reach;
			}

		}/* END .nav-main */

	}/* END .navbar */


	.feature {
		background-color:@reach;
	}/* END .feature */

}

/* ==========================================================================
   Helper Classes
   ========================================================================== */
.heading-underline {
	border-bottom: 2px solid fadeout(@iconFontColor,90%);
	margin-bottom:20px;
	padding-bottom:10px;
	margin-top:10px;
}
.heading-highlight {
	padding:10px;
	background:fadeout(@linkColor,50%);
	color:lighten(@linkColor,85%);
	margin-top:20px;
	border: 1px solid darken(@wellBackground, 37%);
	.border-radius(@baseBorderRadius);
	.box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 1199px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: 140px; }
}
body.home .sdr.footer { padding:5% 0 2%; }
}
@media (max-width: 979px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: 165px; }
}
body.home .sdt h3 { font-size:16px; }
body.home .sdt h4 { font-size: 14px; }
body.home .sdi { font-size:18px; }
body.home .sdr.footer { padding:0 0 0; }


.navbar .nav-sec {

	div {
		width:100%;
	}

	li > a {
		width:100%;
		height:34px;
		margin:5px 0;
	}

	li > a i {
		padding:3px;
		width:28px;
		height:28px;
		float:left;
		margin-right:10px;
	}

	li > a:hover i {
		border:2px solid @iconFontColor;
		padding:1px;
	}

	li > a i:before {
		font-size:18px;
		line-height:18px;
		padding:4px 5px;
		margin:0;
		top:8px;
	}

	li > a > span {
		display:block;
		float:left;
	}

	.tooltip {
		display:none !important;
	}

}

.archive .hentry header {
	padding-left:30px;
}

.pt-label {
	width:120%;
	left:0;
}


}
@media (max-width: 800px) {
/*.sermon_external_link {top:-5px;float:none;margin-bottom:5px;}*/
}
@media (max-width: 767px) {
body.home .endvr-home-worship-block {
	.gi-anchor { min-height: auto; }
}
body.home .sdr.header { padding-bottom:0; }
body.home .sdt h3 { font-size:24px; }
body.home .sdt h4 { font-size: 18px; }
body.home .sdr.footer { padding:5% 0 0; }
body.home .endvr-home-sermon-block > *, body.home .endvr-home-worship-block > * { width:auto; padding:0 30px; }


.pt-label {
	width:30%;
	left:0;
	top:-15px;
}

}
@media (min-width: 481px) and (max-width: 767px) {
.gi-title { font-size:24px; line-height:30px; }
}
@media (max-width: 480px) {
.sermon_external_link .prefix {display:none;}
.feature-link { text-align:center; float:none; }


.navbar .mobile-navbar {
margin-top:55px;
margin-bottom:5px;
}


}